# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# === macOS ===
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon

# === VSCode ===
.vscode/
*.code-workspace

# === Coverage Reports ===
coverage/
*.lcov

# === Misc ===
*.bak
*.swp

*.env

HNX_ohlcv_with_fundamentals.csv
HNX_technical_indicators.csv

part_1_cleaned_ohlcv_with_fundamentals_and_technical.csv
part_2_cleaned_ohlcv_with_fundamentals_and_technical.csv