# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# === macOS ===
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon

# === VSCode ===
.vscode/
*.code-workspace

# === Coverage Reports ===
coverage/
*.lcov

# === Misc ===
*.bak
*.swp

*.env

*.log
*.xls;xlsx;csv
data/step_1
data/step_2
data/step_3
data/step_4
data/step_5